<div class="techs-icons">
  <svg
    width="40"
    height="30"
    viewBox="0 0 333 333"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="dark-color-icon"
      d="M19.9754 0.325836L46.6441 299.453L166.32 332.673L286.327 299.406L313.025 0.325836H19.9754ZM257.395 71.3127L255.725 89.9113L254.991 98.1589H254.87H166.5H166.372H114.601L117.954 135.726H166.372H166.5H241.765H251.652L250.756 145.577L242.135 242.164L241.583 248.358L166.5 269.167V269.175L166.332 269.221L91.1809 248.358L86.0408 190.756H103.015H122.869L125.481 220.014L166.338 231.048L166.372 231.039V231.035L207.292 219.993L211.547 172.412H166.5H166.372H84.4018L75.3855 71.3127L74.5068 61.4717H166.373H166.5H258.273L257.395 71.3127Z"
      fill="#cbd5e1"></path>
  </svg>

  <svg
    width="40"
    height="30"
    viewBox="0 0 255 287"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="dark-color-icon"
      d="M254.806 0.280838L230.933 258.869L127.498 286.719L24.0623 258.869L0.193638 0.280838H254.806ZM206.7 52.8607H127.405H46.7061L50.5655 84.0876H127.405H131.721L127.405 85.8842L53.3738 116.718L55.829 147.241L127.405 147.473L165.768 147.595L163.312 188.294L127.405 198.403V198.371L127.11 198.453L92.4327 189.699L90.3285 164.435H90.2135H58.0482H57.935L62.1453 213.207L127.406 232.506V232.471L127.524 232.506L192.434 213.558L200.854 116.718H127.406H127.225L127.406 116.639L203.545 84.0876L206.7 52.8607Z"
      fill="#cbd5e1"></path>
  </svg>

  <svg
    width="40"
    height="30"
    viewBox="0 0 242 242"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_5_57)">
      <path
        class="dark-color-icon"
        d="M121 0C187.55 0 242 54.45 242 121C242 187.55 187.55 242 121 242C54.45 242 0 187.55 0 121C0 54.45 54.45 0 121 0ZM96.8 161.081C98.3125 167.887 98.3125 173.937 96.8 179.231L96.0437 181.5C96.0437 182.256 95.2875 183.012 95.2875 183.012C93.775 186.037 92.2625 188.306 89.9937 191.331C83.1875 198.894 73.3562 201.919 68.8187 199.65C64.2812 197.381 66.55 186.037 74.8687 177.719C83.9437 168.644 96.0437 162.594 96.0437 162.594L96.8 161.081ZM196.625 51.425C191.331 30.25 155.787 22.6875 121.756 34.7875C102.094 42.35 80.1625 53.6937 64.2812 68.0625C45.375 85.4562 43.1062 100.581 43.8625 106.631C48.4 128.562 78.65 143.687 91.5062 154.275C87.725 155.787 60.5 169.4 54.45 183.769C47.6437 198.894 55.2062 209.481 60.5 210.237C76.3812 214.775 93.0187 206.456 101.337 193.6C109.656 180.744 108.9 164.862 105.119 156.544C110.412 155.031 115.706 154.275 123.269 155.787C144.444 158.056 148.981 171.669 147.469 176.962C145.956 182.256 142.175 185.281 140.662 186.794C139.15 187.55 138.394 188.306 139.15 188.306C139.15 189.062 139.906 189.062 141.419 189.062C142.931 189.062 152.762 184.525 152.762 173.937C153.519 161.081 140.662 146.712 118.731 146.712C109.656 146.712 103.606 147.469 99.825 148.981C99.825 148.225 99.0687 148.225 99.0687 148.225C85.4562 133.856 60.5 123.269 61.2562 103.606C61.2562 96.8 64.2812 77.8937 109.656 55.2062C146.712 36.3 176.963 41.5937 182.256 52.9375C189.819 68.8187 166.375 99.0687 127.806 103.606C112.681 105.119 105.119 99.825 103.606 97.5562C101.337 95.2875 101.338 95.2875 100.581 95.2875C99.0688 96.0437 99.825 97.5562 100.581 99.0687C102.094 102.094 106.631 107.387 114.95 110.412C121.756 112.681 139.15 114.194 160.325 105.875C183.769 96.8 201.919 71.8437 196.625 50.6687V51.425Z"
        fill="#cbd5e1"></path>
    </g>
    <defs>
      <clipPath id="clip0_5_57">
        <rect width="242" height="242" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>

  <svg
    width="40"
    height="30"
    viewBox="0 0 327 327"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_5_59)">
      <path
        class="dark-color-icon"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M67.919 27.25C49.2606 27.25 35.4546 43.5806 36.0726 61.2912C36.6656 78.3063 35.8952 100.343 30.3472 118.314C24.7828 136.337 15.3717 147.755 7.62939e-06 149.221V165.77C15.3717 167.236 24.7828 178.654 30.3472 196.678C35.8952 214.648 36.6656 236.685 36.0726 253.7C35.4546 271.409 49.2606 287.741 67.9217 287.741H259.105C277.765 287.741 291.568 271.411 290.95 253.7C290.357 236.685 291.127 214.648 296.675 196.678C302.242 178.654 311.628 167.236 327 165.77V149.221C311.628 147.755 302.242 136.337 296.675 118.314C291.127 100.346 290.357 78.3063 290.95 61.2912C291.568 43.5834 277.765 27.25 259.105 27.25H67.919ZM221.695 187.599C221.695 211.986 203.504 226.776 173.318 226.776H121.932C120.462 226.776 119.053 226.191 118.013 225.152C116.974 224.112 116.39 222.703 116.39 221.233V93.7585C116.39 92.2885 116.974 90.8789 118.013 89.8394C119.053 88.8 120.462 88.2161 121.932 88.2161H173.025C198.195 88.2161 214.714 101.85 214.714 122.784C214.714 137.476 203.602 150.631 189.443 152.934V153.702C208.717 155.817 221.695 169.163 221.695 187.599ZM167.716 105.785H138.415V147.17H163.093C182.169 147.17 192.689 139.489 192.689 125.757C192.689 112.891 183.643 105.785 167.716 105.785ZM138.415 163.593V209.201H168.793C188.654 209.201 199.176 201.23 199.176 186.252C199.176 171.272 188.36 163.59 167.515 163.59L138.415 163.593Z"
        fill="#cbd5e1"></path>
    </g>
    <defs>
      <clipPath id="clip0_5_59">
        <rect width="327" height="327" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>

  <svg
    width="40"
    height="30"
    viewBox="0 0 332 332"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="dark-color-icon"
      d="M93.375 142.138C103.058 103.404 127.267 84.0375 166 84.0375C224.1 84.0375 231.363 127.613 260.413 134.875C279.779 139.717 296.725 132.454 311.25 113.087C301.567 151.821 277.358 171.188 238.625 171.188C180.525 171.188 173.262 127.613 144.212 120.35C124.846 115.508 107.9 122.771 93.375 142.138ZM20.75 229.288C30.4333 190.554 54.6417 171.188 93.375 171.188C151.475 171.188 158.738 214.762 187.788 222.025C207.154 226.867 224.1 219.604 238.625 200.237C228.942 238.971 204.733 258.337 166 258.337C107.9 258.337 100.638 214.763 71.5875 207.5C52.2208 202.658 35.275 209.921 20.75 229.288Z"
      fill="#cbd5e1"></path>
  </svg>

  <svg
    width="40"
    height="30"
    viewBox="0 0 229 229"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="dark-color-icon"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M114.5 114.5C114.5 98.6911 127.316 85.875 143.125 85.875C158.934 85.875 171.75 98.6911 171.75 114.5C171.75 130.309 158.934 143.125 143.125 143.125C127.316 143.125 114.5 130.309 114.5 114.5Z"
      fill="#cbd5e1"></path>
    <path
      class="dark-color-icon"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M57.25 171.75C57.25 155.941 70.0658 143.125 85.875 143.125H114.5V171.75C114.5 187.559 101.684 200.375 85.875 200.375C70.0658 200.375 57.25 187.559 57.25 171.75Z"
      fill="#cbd5e1"></path>
    <path
      class="light-color-icon"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M114.5 28.625V85.875H143.125C158.934 85.875 171.75 73.0589 171.75 57.25C171.75 41.4408 158.934 28.625 143.125 28.625H114.5Z"
      fill="#cbd5e1"></path>
    <path
      class="dark-color-icon"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M57.25 57.25C57.25 73.0589 70.0658 85.875 85.875 85.875H114.5V28.625H85.875C70.0658 28.625 57.25 41.4408 57.25 57.25Z"
      fill="#cbd5e1"></path>
    <path
      class="light-color-icon"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M57.25 114.5C57.25 130.309 70.0658 143.125 85.875 143.125H114.5V85.875H85.875C70.0658 85.875 57.25 98.6911 57.25 114.5Z"
      fill="#cbd5e1"></path>
  </svg>

  <svg
    width="40"
    height="30"
    viewBox="0 0 800 800"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="dark-color-icon"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M1.57503 0.78125C0.684403 0.910937 0.750028 1.98437 0.814091 3.05937C0.814091 268.166 0.814091 533.231 0.814091 798.331C265.445 800.105 533.327 798.584 799.219 799.091C799.219 532.983 799.219 266.887 799.219 0.78125C533.347 0.78125 267.448 0.78125 1.57503 0.78125ZM406.083 706.511C387.611 725.134 358.461 736.102 322.6 736.102C263.783 736.102 231.127 707.445 210.281 667.803C230.347 654.991 250.853 642.612 271.756 630.623C280.281 654.47 309.078 681.28 341.573 664.775C362.172 654.308 359.794 622.572 359.794 588.128C359.794 516.608 359.794 434.1 359.794 369.578C359.728 368.503 359.664 367.43 360.547 367.3C385.089 367.3 409.63 367.3 434.166 367.3C434.166 424.781 434.166 489.803 434.166 550.939C434.166 617.498 438.922 673.419 406.083 706.511ZM735.463 640.495C731.284 702.814 680.395 735.906 611.759 736.102C544.475 736.295 501.409 706.394 475.145 660.216C494.028 647.22 515.423 636.752 535.106 624.556C550.856 649.183 578.133 672.853 618.589 669.325C643.794 667.128 673.052 646.583 656.534 615.447C648.523 600.353 629.166 592.686 611.759 585.095C556.522 560.995 491.716 538.891 497.914 452.295C499.988 423.367 513.308 403.038 530.553 388.552C548.227 373.708 571.897 363.759 603.411 362.753C660.644 360.92 692.041 386.378 713.456 421.947C695.231 435.839 675.153 447.897 655.017 459.886C648.409 439.581 616.511 419.795 589.748 431.809C577.578 437.267 566.642 453.311 573.055 472.784C578.773 490.152 602.1 499.658 620.866 507.697C677.666 532.009 741.142 555.77 735.463 640.495Z"
      fill="#cbd5e1"></path>
  </svg>

  <svg fill="#000000" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
      id="SVGRepo_tracerCarrier"
      stroke-linecap="round"
      stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
      <path
        d="M0 16v16h32v-32h-32zM25.786 14.724c0.813 0.203 1.432 0.568 2.005 1.156 0.292 0.312 0.729 0.885 0.766 1.026 0.010 0.042-1.38 0.974-2.224 1.495-0.031 0.021-0.156-0.109-0.292-0.313-0.411-0.599-0.844-0.859-1.505-0.906-0.969-0.063-1.594 0.443-1.589 1.292-0.005 0.208 0.042 0.417 0.135 0.599 0.214 0.443 0.615 0.708 1.854 1.245 2.292 0.984 3.271 1.635 3.88 2.557 0.682 1.031 0.833 2.677 0.375 3.906-0.51 1.328-1.771 2.234-3.542 2.531-0.547 0.099-1.849 0.083-2.438-0.026-1.286-0.229-2.505-0.865-3.255-1.698-0.297-0.323-0.87-1.172-0.833-1.229 0.016-0.021 0.146-0.104 0.292-0.188s0.682-0.396 1.188-0.688l0.922-0.536 0.193 0.286c0.271 0.411 0.859 0.974 1.214 1.161 1.021 0.542 2.422 0.464 3.115-0.156 0.281-0.234 0.438-0.594 0.417-0.958 0-0.37-0.047-0.536-0.24-0.813-0.25-0.354-0.755-0.656-2.198-1.281-1.651-0.714-2.365-1.151-3.010-1.854-0.406-0.464-0.708-1.010-0.88-1.599-0.12-0.453-0.151-1.589-0.057-2.042 0.339-1.599 1.547-2.708 3.281-3.036 0.563-0.109 1.875-0.068 2.427 0.068zM18.276 16.063l0.010 1.307h-4.167v11.839h-2.948v-11.839h-4.161v-1.281c0-0.714 0.016-1.307 0.036-1.323 0.016-0.021 2.547-0.031 5.62-0.026l5.594 0.016z"
      ></path>
    </g></svg
  >

  <svg
    width="40"
    height="30"
    viewBox="0 0 800 800"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="light-color-icon"
      d="M429.312 57.468C411.567 47.4882 388.432 47.533 370.672 57.468C281.722 106.557 192.77 155.66 103.804 204.726C86.4922 213.834 74.8159 232.424 75.0022 251.72V548.32C74.8772 567.992 87.1554 586.762 104.914 595.745C130.468 609.34 155.295 624.315 181.311 637.005C211.363 651.772 248.961 655.038 279.38 639.638C304.072 626.875 315.04 598.487 315.007 572.4C315.207 474.515 315.04 376.627 315.085 278.74C315.672 274.39 312.405 269.74 307.66 269.845C296.292 269.665 284.91 269.74 273.542 269.815C269.247 269.41 265.055 272.977 265.38 277.295C265.227 374.55 265.41 471.835 265.287 569.105C265.535 582.56 256.445 595.49 243.478 600.035C213.53 610.532 128.049 555.03 128.049 555.03C124.912 553.577 122.92 550.175 123.228 546.795C123.228 448.94 123.243 351.082 123.228 253.242C122.797 249.298 125.228 245.745 128.85 244.134C217.508 195.335 306.12 146.413 394.777 97.584C397.857 95.5287 402.15 95.535 405.222 97.599C493.88 146.413 582.507 195.29 671.18 244.092C674.815 245.7 677.142 249.312 676.772 253.242C676.757 351.082 676.802 448.94 676.742 546.782C677.005 550.245 675.215 553.6 671.982 555.12C584.152 603.655 495.322 650.625 408.287 700.57C404.49 702.747 400.187 705.215 395.932 702.815C373.045 690.155 350.435 677.002 327.622 664.22C325.142 662.672 321.985 662.008 319.397 663.74C309.17 669.13 299.55 673.495 287.805 678.145C271.31 684.675 273.945 687.345 288.822 696.012C315.5 711.11 342.222 726.147 368.9 741.26C386.462 752.22 410.06 753 428.187 742.872C517.152 693.845 606.09 644.76 695.072 595.732C712.782 586.7 725.122 568.005 724.997 548.317V251.72C725.17 232.816 713.94 214.557 697.15 205.315C607.89 155.987 518.587 106.766 429.312 57.468Z"
      fill="#cbd5e1"></path>
    <path
      class="dark-color-icon"
      d="M563.547 280.155C528.63 261.475 487.09 260.48 448.287 262.923C420.255 265.693 390.772 273.428 370.35 293.523C349.402 313.723 344.842 346.342 354.792 372.712C361.922 391.347 379.87 403.465 398.43 409.875C422.337 418.315 447.447 420.925 472.565 423.535C495.475 425.915 518.392 428.297 540.412 435.105C549.407 438.085 559.882 442.645 562.637 452.432C565.182 464.022 562.392 477.495 552.982 485.548C523.092 509.205 439.947 505.58 410.415 486.96C398.475 479.027 393.33 464.985 391.237 451.603C391.005 447.433 387.647 443.607 383.12 443.925C371.782 443.79 360.445 443.82 349.107 443.91C345.152 443.577 341.04 446.393 340.822 450.43C338.492 511.723 394.785 538.443 447.597 544.325C477.77 547.2 508.605 547.035 538.317 540.56C560.652 535.475 583.047 526.11 598.422 508.908C617.382 488 621.11 456.873 612.607 430.83C606.107 411.398 587.53 398.932 568.54 392.52C542.715 383.665 512.11 378.905 488.72 376.677C454.722 373.44 414.322 374.762 404.7 352.423C400.862 340.725 404.127 326.2 414.877 319.005C443.32 299.712 501.207 302.275 530.662 316.687C544.187 323.46 552.025 337.37 555.26 351.413C555.86 355.538 558.635 359.843 563.41 359.663C574.67 359.888 585.93 359.722 597.187 359.737C601.055 360.007 605.29 357.825 606.045 353.865C605.567 324.515 590.58 294.47 563.547 280.155Z"
      fill="#cbd5e1"></path>
  </svg>

  <svg
    width="40"
    height="30"
    viewBox="0 0 800 800"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="dark-color-icon"
      d="M657.761 274.449C649.462 271.592 640.862 268.89 632.008 266.334C633.463 260.394 634.799 254.532 635.986 248.769C655.481 154.14 642.735 77.907 599.21 52.8078C557.476 28.7409 489.223 53.8345 420.29 113.824C413.662 119.593 407.015 125.7 400.37 132.101C395.943 127.866 391.523 123.774 387.114 119.859C314.871 55.7142 242.458 28.6826 198.977 53.8544C157.282 77.991 144.935 149.658 162.483 239.338C164.177 248 166.158 256.846 168.398 265.839C158.15 268.749 148.256 271.85 138.789 275.149C54.0917 304.679 0 350.958 0 398.962C0 448.542 58.0674 498.27 146.286 528.423C153.248 530.803 160.472 533.052 167.917 535.188C165.5 544.916 163.398 554.448 161.634 563.745C144.902 651.869 157.969 721.842 199.552 745.826C242.504 770.595 314.589 745.136 384.782 683.779C390.33 678.929 395.897 673.785 401.475 668.394C408.705 675.356 415.923 681.945 423.103 688.125C491.093 746.632 558.244 770.258 599.789 746.207C642.698 721.366 656.643 646.198 638.538 554.744C637.155 547.759 635.546 540.624 633.739 533.361C638.802 531.865 643.771 530.32 648.617 528.714C740.329 498.327 800 449.204 800 398.962C800 350.785 744.164 304.193 657.761 274.449ZM637.869 496.274C633.494 497.722 629.006 499.122 624.432 500.479C614.308 468.426 600.643 434.343 583.921 399.129C599.878 364.754 613.015 331.107 622.856 299.262C631.039 301.63 638.982 304.128 646.636 306.763C720.667 332.249 765.824 369.929 765.824 398.962C765.824 429.889 717.055 470.035 637.869 496.274ZM605.012 561.381C613.017 601.821 614.161 638.384 608.858 666.966C604.093 692.649 594.511 709.772 582.664 716.63C557.452 731.223 503.537 712.254 445.391 662.218C438.725 656.482 432.011 650.358 425.276 643.876C447.818 619.222 470.346 590.562 492.334 558.731C531.008 555.299 567.547 549.689 600.681 542.029C602.313 548.612 603.763 555.069 605.012 561.381ZM272.738 714.108C248.106 722.808 228.488 723.057 216.629 716.219C191.394 701.664 180.904 645.482 195.213 570.119C196.852 561.488 198.803 552.622 201.052 543.56C233.823 550.807 270.094 556.021 308.86 559.164C330.996 590.311 354.176 618.94 377.535 644.008C372.432 648.935 367.348 653.626 362.293 658.046C331.254 685.177 300.15 704.427 272.738 714.108ZM157.339 496.084C118.331 482.751 86.1158 465.423 64.0339 446.514C44.1921 429.521 34.1743 412.651 34.1743 398.962C34.1743 369.832 77.6046 332.676 150.039 307.421C158.827 304.357 168.028 301.469 177.576 298.756C187.586 331.32 200.718 365.366 216.566 399.794C200.513 434.733 187.195 469.322 177.086 502.267C170.279 500.311 163.685 498.252 157.339 496.084ZM196.022 232.774C180.988 155.939 190.973 97.9767 216.099 83.4321C242.863 67.9377 302.045 90.0294 364.422 145.416C368.409 148.956 372.412 152.661 376.426 156.494C353.182 181.452 330.215 209.867 308.275 240.83C270.651 244.317 234.635 249.919 201.522 257.421C199.44 249.046 197.596 240.819 196.022 232.774ZM541.106 317.984C533.19 304.311 525.063 290.961 516.779 277.976C542.304 281.203 566.759 285.486 589.725 290.728C582.83 312.825 574.236 335.93 564.12 359.615C556.864 345.838 549.189 331.947 541.106 317.984ZM400.382 180.918C416.145 197.996 431.932 217.064 447.459 237.751C431.812 237.012 415.971 236.628 400 236.628C384.179 236.628 368.456 237.004 352.906 237.73C368.449 217.234 384.372 198.193 400.382 180.918ZM258.756 318.221C250.849 331.932 243.316 345.748 236.173 359.589C226.221 335.987 217.707 312.777 210.752 290.366C233.577 285.258 257.917 281.082 283.28 277.916C274.878 291.021 266.685 304.472 258.756 318.221ZM284.01 522.447C257.806 519.523 233.1 515.562 210.28 510.595C217.346 487.784 226.048 464.079 236.211 439.968C243.373 453.799 250.935 467.62 258.891 481.362C266.995 495.361 275.392 509.074 284.01 522.447ZM401.327 619.416C385.129 601.939 368.973 582.607 353.193 561.813C368.511 562.414 384.128 562.721 400 562.721C416.306 562.721 432.426 562.354 448.292 561.648C432.713 582.817 416.984 602.179 401.327 619.416ZM564.447 438.739C575.139 463.11 584.153 486.692 591.31 509.114C568.115 514.405 543.071 518.667 516.685 521.834C524.989 508.674 533.187 495.095 541.243 481.127C549.392 466.995 557.13 452.842 564.447 438.739ZM511.639 464.053C499.134 485.736 486.295 506.435 473.261 525.974C449.522 527.671 424.997 528.546 400 528.546C375.104 528.546 350.888 527.772 327.569 526.259C314.01 506.464 300.892 485.703 288.466 464.24C276.073 442.834 264.67 421.248 254.334 399.783C264.667 378.268 276.043 356.657 288.365 335.29L288.362 335.295C300.717 313.871 313.719 293.211 327.153 273.54C350.945 271.742 375.342 270.803 399.999 270.803C424.766 270.803 449.196 271.749 472.981 273.563C486.21 293.09 499.124 313.683 511.527 335.109C524.071 356.777 535.594 378.243 546.014 399.297C535.625 420.712 524.128 442.396 511.639 464.053ZM582.14 82.4154C608.929 97.8642 619.347 160.169 602.515 241.871C601.442 247.084 600.233 252.394 598.92 257.775C565.73 250.117 529.688 244.418 491.954 240.878C469.972 209.575 447.192 181.116 424.327 156.478C430.475 150.565 436.614 144.926 442.727 139.604C501.788 88.2053 556.989 67.912 582.14 82.4154ZM400 327.525C439.453 327.525 471.437 359.508 471.437 398.962C471.437 438.416 439.453 470.4 400 470.4C360.547 470.4 328.563 438.416 328.563 398.962C328.563 359.508 360.547 327.525 400 327.525Z"
      fill="#cbd5e1"></path>
  </svg>

  <svg
    width="40"
    height="30"
    viewBox="0 0 800 800"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="dark-color-icon"
      d="M396.612 1.78839C194.011 1.78841 206.663 89.6484 206.663 89.6484L206.889 180.67H400.226V208H130.096C130.096 208 0.45166 193.297 0.45166 397.723C0.451646 602.149 113.608 594.9 113.608 594.9H181.141V500.038C181.141 500.038 177.5 386.882 292.49 386.882H484.246C484.246 386.882 591.982 388.623 591.982 282.76V107.717C591.982 107.717 608.339 1.78839 396.612 1.78839ZM290.006 62.9967C309.241 62.9967 324.788 78.5437 324.788 97.7794C324.788 117.015 309.241 132.562 290.006 132.562C270.77 132.562 255.223 117.015 255.223 97.7794C255.223 78.5437 270.77 62.9967 290.006 62.9967Z"
      fill="url(#paint0_linear_5_65)"></path>
    <path
      class="light-color-icon"
      d="M402.366 795.707C604.967 795.707 592.315 707.847 592.315 707.847L592.089 616.825H398.752V589.496H668.882C668.882 589.496 798.526 604.199 798.526 399.773C798.526 195.346 685.37 202.596 685.37 202.596H617.837V297.457C617.837 297.457 621.478 410.614 506.488 410.614H314.732C314.732 410.614 206.996 408.872 206.996 514.736V689.778C206.996 689.778 190.639 795.707 402.366 795.707ZM508.972 734.499C489.737 734.499 474.19 718.952 474.19 699.716C474.19 680.481 489.737 664.934 508.972 664.934C528.208 664.934 543.755 680.481 543.755 699.716C543.755 718.952 528.208 734.499 508.972 734.499Z"
      fill="url(#paint1_linear_5_65)"></path>
    <defs>
      <linearGradient
        id="paint0_linear_5_65"
        x1="7670.1"
        y1="7142.87"
        x2="47219.8"
        y2="46298"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#cbd5e1"></stop>
        <stop offset="1" stop-color="#366994"></stop>
      </linearGradient>
      <linearGradient
        id="paint1_linear_5_65"
        x1="11526.8"
        y1="12409"
        x2="53999"
        y2="52559.2"
        gradientUnits="userSpaceOnUse"
      >
        <stop class="light-color-icon" stop-color="#cbd5e1"></stop>
        <stop offset="1" stop-color="#FFC331"></stop>
      </linearGradient>
    </defs>
  </svg>

  <svg
    width="40"
    height="30"
    viewBox="0 0 800 800"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="dark-color-icon"
      d="M502.156 0.78125H371.604V199.852C352.1 194.769 336.001 193.073 314.801 193.073C178.319 193.073 90.1436 279.542 90.1436 412.636C90.1436 550.825 173.231 622.88 332.614 622.88C385.997 622.88 435.175 617.795 502.158 605.08V0.78125H502.156ZM371.604 514.38C352.951 516.916 341.084 517.758 326.675 517.758C259.698 517.758 223.242 479.619 223.242 410.095C223.242 338.887 261.387 298.195 327.528 298.195C343.626 298.195 356.336 299.889 371.604 304.973V514.38ZM709.858 1.48281V135.43H579.3V1.48281H709.858ZM579.3 202.394H709.858V505.048C709.858 609.322 702.219 659.334 679.331 702.575C658.144 744.122 630.165 770.392 572.511 799.219L451.278 741.569C508.917 714.445 536.919 690.722 554.711 654.252C573.358 616.948 579.3 573.714 579.3 460.108V202.394Z"
      fill="#cbd5e1"></path>
  </svg>

  <svg
    width="40"
    height="30"
    viewBox="0 0 800 800"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="dark-color-icon"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M147.5 471.175C138.829 492.004 133.985 514.227 133.2 536.775C134.397 550.682 139.139 564.049 146.975 575.6C161.719 592.67 179.45 606.911 199.3 617.625L327.5 702.975C343.275 715.529 361.013 725.395 380 732.175C392.328 735.109 405.172 735.109 417.5 732.175C436.614 725.478 454.494 715.681 470.425 703.175L600 617.775C620.052 607.03 637.985 592.731 652.925 575.575C660.817 563.961 665.555 550.496 666.675 536.5C665.824 513.768 660.851 491.38 652 470.425L538.675 113.775C536.145 102.225 531.574 91.2184 525.175 81.275C520.515 75.6124 514.493 71.2254 507.675 68.525C496.282 65.4362 484.43 64.4034 472.675 65.475H325.125C313.365 64.4061 301.509 65.4647 290.125 68.6C283.29 71.295 277.264 75.7029 272.625 81.4C266.254 91.344 261.724 102.353 259.25 113.9L147.5 471.175ZM478.5 141.175C483.771 149.555 487.504 158.808 489.525 168.5L586.825 488.1C550.279 469.144 511.051 455.883 470.5 448.775L407.275 234.775C406.886 233.511 406.2 232.359 405.275 231.414C404.349 230.47 403.211 229.761 401.955 229.347C400.699 228.934 399.362 228.827 398.056 229.036C396.75 229.245 395.514 229.765 394.45 230.55C393.022 231.594 391.977 233.079 391.475 234.775L328.975 448.7C288.232 455.793 248.822 469.106 212.125 488.175L309.825 168.575C311.825 158.866 315.569 149.599 320.875 141.225C324.745 136.476 329.749 132.779 335.425 130.475C344.988 127.89 354.938 127.043 364.8 127.975H434.625C444.496 127.043 454.453 127.889 464.025 130.475C469.718 132.785 474.732 136.501 478.6 141.275L478.5 141.175ZM403.175 526.5C433.262 528.242 463.099 520.142 488.175 503.425C491.025 512.398 492.036 521.854 491.147 531.227C490.258 540.6 487.487 549.698 483 557.975C473.776 573.653 460.389 586.468 444.325 595C427.475 605.7 412.975 615 412.975 639.675C412.954 647.59 414.741 655.406 418.2 662.525C406.837 657.806 397.127 649.826 390.297 639.592C383.467 629.357 379.823 617.329 379.825 605.025V603.5C379.825 586.425 379.825 565.4 355.775 565.4C352.422 565.398 349.102 566.052 346 567.325C339.758 569.91 334.796 574.863 332.2 581.1C330.911 584.199 330.24 587.519 330.225 590.875C313.741 572.873 304.886 549.176 305.525 524.775C305.408 514.214 306.883 503.696 309.9 493.575C319.9 512.5 357.9 526.575 403.175 526.575V526.5Z"
      fill="#cbd5e1"></path>
  </svg>

  <!-- <svg
    width='40'
    height='30'
    viewBox='0 0 800 800'
    fill='none'
    xmlns='http://www.w3.org/2000/svg'
  >
    <g clip-path='url(#clip0_5_134)'>
      <path
        class='light-color-icon'
        d='M525.04 77.9198C525.04 55.9458 500.437 55.9455 489.502 58.6923C504.81 46.6065 522.762 49.5367 529.14 53.199L676.975 125.687C691.06 132.594 699.995 146.965 699.995 162.714V639.577C699.995 655.537 690.822 670.063 676.45 676.858L537.342 742.635C527.772 746.753 506.997 756.917 489.502 742.632C511.372 746.755 523.217 731.19 525.04 720.66V77.9198Z'
        fill='#cbd5e1'></path>
      <path
        class='dark-color-icon'
        d='M491.28 58.2975C502.885 56.0042 525.045 57.0678 525.045 77.9213V242.063L76.8398 581.133C69.0055 587.06 57.98 586.075 51.3073 578.855L5.1133 528.87C-2.12339 521.04 -1.61706 508.782 6.2406 501.582L489.505 58.6938L491.28 58.2975Z'
        fill='#cbd5e1'></path>
      <path
        class='dark-color-icon'
        d='M525.045 559.27L76.8398 220.2C69.0055 214.274 57.98 215.257 51.3073 222.478L5.1133 272.463C-2.12339 280.293 -1.61706 292.55 6.2406 299.752L489.505 742.64C511.375 746.76 523.223 731.195 525.045 720.665V559.27Z'
        fill='#cbd5e1'></path>
    </g>
    <defs>
      <clipPath id='clip0_5_134'>
        <rect width='800' height='800' fill='white'></rect>
      </clipPath>
    </defs>
  </svg> -->

  <svg
    width="40"
    height="30"
    viewBox="0 0 800 800"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="dark-color-icon"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M701.286 163.365L448.742 13.4264C418.727 -4.47545 381.311 -4.47545 351.295 13.4264L98.701 163.365C68.3173 181.694 49.8185 214.658 50.0013 250.142V549.968C49.8364 585.434 68.3329 618.374 98.701 636.694L351.245 786.582C381.264 804.473 418.673 804.473 448.692 786.582L701.235 636.694C731.639 618.377 750.158 585.411 749.986 549.917V250.142C750.169 214.658 731.67 181.694 701.286 163.365ZM360.094 771.259L107.551 621.372C82.594 606.249 67.3933 579.149 67.4991 549.968V250.142C67.3833 220.958 82.5866 193.853 107.551 178.738L360.094 28.7995C384.673 14.1362 415.314 14.1362 439.893 28.7995L692.234 178.738C713.036 191.337 727.227 212.466 731.021 236.488C722.626 218.637 703.764 213.732 681.766 226.374L443.028 374.239C413.243 391.584 391.296 411.155 391.245 447.059V741.474C391.245 762.966 399.892 776.873 413.243 780.969C408.871 781.77 404.438 782.193 399.994 782.233C385.95 782.223 372.168 778.432 360.094 771.259ZM634.398 578.312L571.628 615.853C569.947 616.529 568.82 618.13 568.751 619.94V636.44C568.751 638.458 570.114 639.266 571.779 638.307L635.508 599.555C637.068 598.385 637.815 596.42 637.425 594.509V580.028C637.375 578.161 635.911 577.353 634.398 578.312ZM504.555 442.976C504.505 440.1 502.84 439.09 500.822 440.1L488.257 448.122C485.959 449.555 484.566 452.075 484.574 454.783L485.482 476.783C467.181 491.312 456.335 513.263 455.914 536.626C456.267 563.369 473.271 566.901 491.588 566.901C505.766 567.002 511.771 571.543 511.771 582.442C511.334 595.417 503.735 607.078 492.042 612.717C483.939 617.322 474.344 618.537 465.349 616.098C464.691 615.802 463.938 615.802 463.281 616.098C462.837 616.323 462.429 616.612 462.07 616.956C460.937 618.053 460.148 619.455 459.799 620.992L455.207 640.419C454.652 642.69 455.258 644.657 456.57 645.162C463.634 647.988 474.684 646.928 485.583 642.387V663.529C485.634 666.354 487.299 667.364 489.317 666.354L502.033 659.038C504.293 657.618 505.68 655.148 505.716 652.478L505.312 630.983C524.346 615.562 535.639 592.553 536.193 568.062C535.94 544.599 525.849 534.457 502.588 534.053C484.978 533.75 479.932 530.975 479.932 520.883C480.221 509.667 486.908 499.607 497.138 494.998C504.135 490.84 512.453 489.505 520.399 491.264C521.038 491.377 521.696 491.27 522.266 490.962C522.731 490.726 523.157 490.419 523.528 490.053C524.584 488.995 525.334 487.669 525.697 486.218L530.491 466.994C531.096 464.471 530.441 462.352 528.876 461.948C520.727 460.424 512.306 461.445 504.757 464.875L504.555 442.976Z"
      fill="#cbd5e1"></path>
  </svg>

  <svg
    width="40"
    height="30"
    viewBox="0 0 800 800"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="dark-color-icon"
      d="M760.7 366.575L433.325 39.225C424.575 30.5 412.5 25.1 399.15 25.1C385.8 25.1 373.725 30.5 364.975 39.225L297.15 107.175L383.375 193.4C388.875 191.475 395.2 190.375 401.8 190.375C433.525 190.375 459.225 216.075 459.225 247.8C459.225 254.525 458.075 260.95 455.95 266.95L456.075 266.55L539.125 349.65C544.675 347.675 551.1 346.525 557.775 346.525C589.475 346.525 615.175 372.225 615.175 403.925C615.175 435.625 589.475 461.325 557.775 461.325C526.075 461.325 500.375 435.625 500.375 403.925C500.375 396.1 501.95 388.65 504.775 381.85L504.625 382.225L426.875 304.875V508.725C445.975 518.35 458.85 537.8 458.85 560.25C458.85 592 433.1 617.75 401.35 617.75C369.6 617.75 343.85 592 343.85 560.25C343.85 544.4 350.25 530.075 360.625 519.675C365.9 514.4 372.175 510.125 379.15 507.125L379.525 506.975V301.125C358.475 292.275 343.975 271.8 343.975 247.975C343.975 239.975 345.6 232.375 348.55 225.45L348.4 225.825L263.675 140.7L39.175 365.05C30.475 373.825 25.125 385.9 25.125 399.25C25.125 412.6 30.5 424.675 39.2 433.45L366.6 760.75C375.325 769.5 387.4 774.9 400.75 774.9C414.1 774.9 426.15 769.5 434.9 760.75L760.75 434.9C769.5 426.175 774.925 414.075 774.925 400.75C774.925 387.425 769.5 375.325 760.75 366.6L760.7 366.575Z"
      fill="#cbd5e1"></path>
  </svg>

  <svg
    width="40"
    height="30"
    viewBox="0 0 800 800"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_5_78)">
      <path
        class="dark-color-icon"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M400 0C620.92 0 800 183.597 800 410.117C800 591.277 685.52 744.958 526.68 799.238C506.4 803.278 499.2 790.471 499.2 779.551C499.2 766.031 499.68 721.872 499.68 666.992C499.68 628.752 486.88 603.794 472.52 591.074C561.6 580.914 655.2 546.231 655.2 388.711C655.2 343.911 639.68 307.353 614 278.633C618.16 268.273 631.88 226.558 610.08 170.078C610.08 170.078 576.56 159.089 500.2 212.129C468.24 203.049 434 198.48 400 198.32C366 198.48 331.8 203.049 299.88 212.129C223.44 159.089 189.84 170.078 189.84 170.078C168.12 226.558 181.84 268.273 185.96 278.633C160.4 307.353 144.76 343.911 144.76 388.711C144.76 545.831 238.16 581.046 327 591.406C315.56 601.646 305.2 619.71 301.6 646.23C278.8 656.71 220.88 674.848 185.2 612.168C185.2 612.168 164.04 572.763 123.88 569.883C123.88 569.883 84.88 569.365 121.16 594.805C121.16 594.805 147.36 607.405 165.56 654.805C165.56 654.805 189.04 728.003 300.32 703.203C300.52 737.483 300.88 769.791 300.88 779.551C300.88 790.391 293.52 803.077 273.56 799.277C114.6 745.077 0 591.317 0 410.117C0 183.597 179.12 0 400 0Z"
        fill="#cbd5e1"></path>
    </g>
    <defs>
      <clipPath id="clip0_5_78">
        <rect width="800" height="800" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
</div>

<style>
  .techs-icons {
    margin-top: 2rem;
    max-width: var(--max-width);
    z-index: 1000;
  }

  svg {
    background-color: #0f0f0f;
    height: 80px;
    width: 80px;
    padding: 0.5rem;
  }

  svg path {
    fill: rgb(255, 255, 255);
  }

  svg {
    cursor: pointer;
    box-shadow: 0 0 0 0 black;
    transition: all 0.3s ease-in-out;
  }

  svg:hover {
    background-color: var(--white-color);
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 5px 5px 0 0 black;
    /* color: var(--white-color); */
  }
  svg:hover > g path,
  svg:hover > path {
    fill: var(--bg-color);
    stroke: var(--bg-color);
    color: var(--bg-color);
  }
</style>
