<section class="title-container">
  <div class="title">
    <p class="title-p1">Proyectos/Trabajos</p>
    <h1 class="title-h1">Mi navaja suiza</h1>
    <p class="title-p2">
      Me especializo en crear (y ocasionalmente diseñar) experiencias digitales
      excepcionales en la web. Actualmente, me enfoco en crear páginas y
      aplicaciones web accesibles, centradas en la experiencia del usuario,
      escalables y mantenibles. Estas son las tecnologías con las que he estado
      trabajando últimamente: HTML5, CSS3, SASS, Bootstrap, Tailwind, Figma,
      JavaScript, NodeJs, Typescript, React, Python, Django, Astro, Bash, Git,
      Github.
    </p>
  </div>
</section>
