<section class="service-container">
  <div class="service">
    <div class="service-item">
      <h2>Programación Web</h2>
      <p>
        Desarrollo sitios y aplicaciones para plataformas Web. Construyo proyectos de principio a fin. Frontend, Backend y Base de Datos.
      </p>
    </div>
    <div class="service-item">
      <h2>Diseño Web</h2>
      <p>
        Prototipo y maqueto tus diseños estáticos y los convierto en increíbles
        sitios y aplicaciones web responsivas, óptimas y accesibles.
      </p>
    </div>
    <div class="service-item">
      <h2>WPO</h2>
      <p>
        Web Performance Optimization, hago que los sitios y aplicaciones web
        mejoren su tiempo de carga y respuesta.
      </p>
    </div>
    <div class="service-item">
      <h2>SEO</h2>
      <p>
        Search Engine Optimization, optimizo sitios y aplicaciones web para
        que mejoren su posición en los buscadores orgánicamente.
      </p>
    </div>
    <div class="service-item">
      <h2>Web Hosting</h2>
      <p>
        Si no cuentas con dominio y hospedaje web para tu proyecto de esas cosas técnicas, me encargo yo.
      </p>
    </div>
  </div>
</section>

<style>
  .service-container {
    margin-top: 2rem;
  }

  .service {
    display: flex;
    flex-wrap: wrap;
    max-width: var(--max-width);
    gap: 2rem 1rem;
  }

  .service-item {
    min-width: 200px;
    max-width: 400px;
  }

  .service-item h2 {
    font-weight: 200;
    font-size: 1.3rem;
    border-bottom: 1px solid var(--gray-color);
    padding-bottom: 0.5rem;
  }
  .service-item p {
    padding-top: 0.5rem;
    color: var(--gray-color-light);
  }
</style>
