<section class="title-container">
  <div class="title">
    <p class="title-p1">Sobre Mi</p>
    <h1 class="title-h1">¿Quién soy?</h1>
    <p class="title-p2">
      Mi nombre es Lautaro Della Mea, soy Front End Developer con experiencia en
      el desarrollo de aplicaciones web. Me apasiona aprender nuevas tecnologías
      y aplicar mis conocimientos para ayudar a otros a alcanzar sus objetivos.
      Actualmente, me encuentro cursando el segundo año de la carrera Analista
      de Sistemas en la Universidad Tecnológica Nacional - Facultad Regional de
      Córdoba - Argentina (UTN) y me comprometo a mantenerme actualizado en mi
      campo. <br />
      <br /> Soy un profesional comprometido con la calidad y la excelencia en todo
      lo que hago. Disfruto trabajando en equipo y tengo habilidades de comunicación
      efectiva y colaboración. <br />
      <br /> Estoy buscando oportunidades para formar parte de un equipo de IT en
      una empresa donde pueda desarrollarme profesionalmente y contribuir con mis
      habilidades. <br />
      <br /> Estas son algunas de las áreas en las que especializo:
    </p>
  </div>
</section>
