<section class="title-container">
  <div class="title">
    <p class="title-p1">Contacto</p>
    <h1 class="title-h1">Espero tu mensaje</h1>
    <p class="title-p2">
      Actualmente, me encuentro trabajando en proyectos personales y también
      realizando trabajos para clientes particulares. Estoy
      disponible para compartirles información sobre mis futuros proyectos, los
      cuales también estaré agregando a mi portafolio en la sección de
      experiencia. <br> Aquí se encuentran mis datos de contacto, espero con ansias
      su mensaje para que puedan conocerme mejor y conversar sobre intereses
      comunes.
    </p>
  </div>
</section>
