<div class="social-container">
  <a class="social-item" href="#">Linkedin</a>
  <a class="social-item" href="#">Github</a>
</div>

<style>
  .social-container {
    position: absolute;
    bottom: 6rem;
    left: -2rem;
    transform: rotate(270deg);
    z-index: 900;
  }

  .social-item {
    color: var(--white-color);
    text-decoration: none;
    padding: 0rem 0.5rem;
  }

  .social-item:hover {
    text-decoration: underline;
  }
</style>


